/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1, header h2 {
    margin: 0;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

h3 {
    color: #333;
}

/* Flexbox container for sections */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    flex: 1 1 45%;
    box-sizing: border-box;
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    section {
        flex: 1 1 100%;
    }
}
.profile-photo {
    display: block;
    max-width: 200px; /* Ajusta este valor según tu preferencia */
    height: auto;
    border-radius: 50%;
    margin: 0 auto 20px;
}